<div class="modal-body">
    <div class="col-12" style="border:1px solid #d6d6d6; border-radius: 15px; padding: 10px; flex: 0 0 98%; margin: 10px 5px;">
        <div class="col-12 row" style="margin: 0;">
            <div class="form-group col-8 mb-3">
                <h5 class="modal-title">Solicitudes de adelanto de sueldo : </h5>
            </div>
        </div>
        <div *ngIf="lsAdeSue?.length == 0" style="padding: 10px 0px;">
            <div style="text-align: center; font-size: 18px; margin: 0px 10px ;padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                No cuenta con solicitudes de adelando de sueldo
            </div>
        </div>
        <div *ngIf="lsAdeSue?.length > 0" class="table-responsive">
            <div class="card example-2 square scrollbar-cyan bordered-cyan" style="overflow-x: auto; overflow-y: auto;">
                <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                    <thead style="background: #ebeff5;">
                        <tr>
                            <th class="text-center" colspan="2">Tipo</th>
                            <th class="text-center">Monto Total</th>
                            <th class="text-center">Cuotas</th>
                            <th class="text-center">Estado</th>
                            <th class="text-center">Fecha Solicitud</th>
                            <th class="text-center" colspan="2">Archivo</th>
                            <th class="text-center">Constancia</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let adeSueldo of lsAdeSue">
                        <tr style="font-size: 12px">
                            <td class="text-center" style="padding: 10px  0px 0px 0px">
                                <a *ngIf="adeSueldo.expanded && !adeSueldo.estado==1" (click)="adeSueldo.expanded = false;" class="efecctrotatecont">
                                    <i class="mdi mdi-arrow-up-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                </a>
                                <a *ngIf="!adeSueldo.expanded && !adeSueldo.estado==1" (click)="adeSueldo.expanded = true; listarNroCuotas(adeSueldo)" class="efecctrotatecont">
                                    <i class="mdi mdi-arrow-down-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                </a>
                            </td>
                            <td style="padding-top: 15px">{{adeSueldo.tipo==1?'Proporcional':'Emergencia'}}</td>
                            <td style="padding-top: 15px">{{adeSueldo.montoTotal.toFixed(2)}}</td>
                            <td style="padding-top: 15px">{{adeSueldo.nroCuotas}}</td>
                            <td style="color: #ff0000;" *ngIf="adeSueldo.estado==0 && adeSueldo.nombreArchivo==null">Adelanto activa</td>
                            <td style="color: #f3ff00;" *ngIf="adeSueldo.estado==0 && adeSueldo.nombreArchivo!=null">En Proceso</td>
                            <td style="color: #ff8500;" *ngIf="adeSueldo.estado==1 && adeSueldo.nombreArchivo==null">En Proceso</td>
                            <td style="color: #02ff00;" *ngIf="adeSueldo.estado==1 && adeSueldo.nombreArchivo!=null">Culminado</td>
                            <!-- <td *ngIf="adeSueldo.estado==0"> <i class="mdi mdi-emoticon-neutral" aria-hidden="true" style="cursor: pointer; font-size: 23px; color: #F1E00D;"></i></td>
                        <td *ngIf="adeSueldo.estado==1"> <i class="mdi mdi-emoticon" aria-hidden="true" style="cursor: pointer; font-size: 23px; color: #19E422 ;"></i></td> -->
                            <td style="padding-top: 15px">{{adeSueldo.fechaSol | date :'dd-MM-yyyy'}}</td>
                            <!-- <td style="padding-top:8px; padding-bottom: 0px;" class="text-center" *ngIf="adeSueldo.nombreAradeSueldochivo==undefined">
                                <input type="file" (change)="subirArchivo($event, adeSueldo)" accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword" class="form-control form-control-sm input-icon-z">
                                <i class="mdi mdi-cloud-upload icon-z parpadea" aria-hidden="true"></i>
                            </td> -->
                            <td style="padding-top:8px; padding-bottom: 0px;" class="text-center" *ngIf="adeSueldo.nombreArchivo==undefined">
                                <i class="mdi mdi-cloud-upload icon-z parpadea" aria-hidden="true"  (click)="regisArchivo(adeSueldo)"></i>
                            </td>
                            <td style="padding-top:8px; padding-bottom: 0px;" class="text-center" *ngIf="adeSueldo.nombreArchivo!=null">
                                <i class="mdi mdi-cloud-upload icon-z" aria-hidden="true"></i>
                            </td>

                            <td class="text-center" style="padding-top:8px; padding-bottom: 0px;">
                                <i *ngIf="adeSueldo.nombreArchivo != null" class="mdi mdi-cloud-download" (click)="descargarArchivo(adeSueldo)" aria-hidden="true" style="cursor: pointer; font-size: 25px; color: green;"></i>
                                <i *ngIf="adeSueldo.nombreArchivo == null" class="mdi mdi-cloud-download" aria-hidden="true" style="cursor: pointer; font-size: 25px; ; color: red;"></i>
                            </td>

                            <td style="padding-top:8px; padding-bottom: 0px;" class="text-center">
                                <input (click)="bajarArchivo(adeSueldo)" class="form-control form-control-sm input-icon-z">
                                <i class="mdi mdi-cloud-download icon-z" aria-hidden="true"></i>
                            </td>
                        </tr>
                        <tr *ngIf="adeSueldo.expanded" style="font-size: 12px">
                            <td colspan="9">
                                <div class="form-row col-12" style="margin: 0 auto;">
                                    <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                                        <thead style="background: #ebeff5;">
                                            <tr>
                                                <th class="text-center">Mes</th>
                                                <th class="text-center">Año</th>
                                                <th class="text-center">Estado</th>
                                                <th class="text-center">Monto Mensual</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr style="font-size: 12px" *ngFor="let cuota of adeSueldo.lscuotas">
                                                <td>{{cuota.pdoMes.descripcion}}</td>
                                                <td>{{cuota.pdoAno.descripcion}}</td>
                                                <td style="color: #ffd800;" *ngIf="cuota.estado==0">Pendiente
                                                </td>
                                                <td style="color: #19E422;" *ngIf="cuota.estado==1">Culminado
                                                </td>
                                                <td>{{cuota.montoCuota.toFixed(2)}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class=" modal-footer ">
    <button (click)="close()" type="button" class="btn btn-warning btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>
