<hr>
<div class="card-body" style="border-radius: 10px; padding: 0px 30px; margin-bottom: 20px;">
    <div [hidden]="empresa!=null">
        <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
            Seleccione una empresa
        </div>
    </div>

    <div *ngIf="empresa" class="card-header" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin-bottom: 20px;">
        <div class="col-12 row" style="margin: 0;">
            <div class="col-6" style="margin-bottom: 10px">
                <div class="col-12">
                    <mat-form-field style="width: 335px; margin-right: 90px; margin-left: 20px;">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>
                </div>
            </div>
            <div *ngIf="token.id_perfil > 2 && empresa" class="col-6" style="margin: auto;">
                <div class="form-group col-8">
                    <button class="btn btn-sm btn-info" (click)="registrarSolicitud()" id="solrec" style="width: auto; border-radius: 28px; padding: 4px 10px;">Solicitar recurso</button>
                </div>
            </div>
        </div>
    </div>
    <nav *ngIf="token.id_perfil <= 2" [hidden]="(token.id_perfil > 2 || empresa==null)">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link color-page-i" id="nav-equipo-tab" data-toggle="tab" href="#nav-equipo" role="tab" aria-controls="nav-equipo" aria-selected="false" style="font-size: 13px; font-weight: bold;">Equipo</a>
            <a class="nav-item nav-link active color-page-i" id="nav-solicitud-tab" data-toggle="tab" href="#nav-solicitud" role="tab" aria-controls="nav-solicitud" aria-selected="true" style="font-size: 13px; font-weight: bold;">Solicitud</a>
        </div>
    </nav>
    <div *ngIf="token.id_perfil <= 2" [hidden]="(token.id_perfil > 2 || empresa==null)" class="card-body" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 30px; margin-bottom: 20px;">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-equipo" role="tabpanel" aria-labelledby="nav-equipo-tab">
                <p>Equipo</p>
                <div class="col-12">
                    <div>
                        <button class="btn btn-sm btn-info" (click)="crearEquipo()" style="width: auto; border-radius: 28px; padding: 4px 10px;">Crear Equipo</button>
                    </div>
                    <br>

                    <div *ngIf="token.id_perfil <= 2" [hidden]="lsEquipoxEmpresaFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ningún Equipo registrado por el Supervisor
                        </div>
                    </div>

                    <div [hidden]="lsEquipoxEmpresaFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsEquipoxEmpresa" style="width: 100%;">
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Descripción</th>
                                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                            </ng-container>

                            <ng-container matColumnDef="visualizar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Visualizar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-eye" (click)="visualizarEquipo(element)" *ngIf="element.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="agregar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Agregar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-plus" (click)="registrarTrabajEquip(element)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                        <!--                         <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th>Descripción</th>
                                    
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 12px" *ngFor="let equip of lsEquipoxEmpresa">
                                    <td>{{equip.descripcion}}</td>
                                
                                    <td>
                                        <i class="fa fa-eye" (click)="visualizarEquipo(equip)" *ngIf="equip.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                        <i class="fa fa-plus" (click)="registrarTrabajEquip(equip)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                    <!-- Lore -->


                </div>
                <!-- <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th class="text-center" colspan="2">Descripcion</th>
                                    <th class="text-center">solicitud haber provision</th>
                                    <th class="text-center">solicitud debe provision</th>
                                    <th class="text-center">solicitud haber pago</th>
                                    <th class="text-center">solicitud debe pago</th>
                                    <th class="text-center">Actualizar</th>
                                    <th class="text-center">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let equipo of lsequipo">
                                <tr style="font-size: 12px">
                                    <td class="text-center" style="padding: 10px  0px 0px 0px">
                                        <a *ngIf="equipo.expanded" (click)="equipo.expanded = false;" class="efecctrotatecont">
                                            <i class="mdi mdi-arrow-up-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                        </a>
                                        <a *ngIf="!equipo.expanded" (click)="equipo.expanded = true;" class="efecctrotatecont">
                                            <i class="mdi mdi-arrow-down-drop-circle efecctrotate" style="font-size: 23px; cursor: pointer;"></i>
                                        </a>
                                    </td>
                                    <td class="text-center">{{equipo.sdescripcion}}</td>
                                    <td class="text-center p-10">{{equipo.solicitudHaberProvision!=null?equipo.solicitudHaberProvision.icodigosolicitud:"No asignago"}}</td>
                                    <td class="text-center p-10">{{equipo.solicitudDebeProvision!=null?equipo.solicitudDebeProvision.icodigosolicitud:"No asignago"}}</td>
                                    <td class="text-center p-10">{{equipo.solicitudHaberPago!=null?equipo.solicitudHaberPago.icodigosolicitud:"No asignago"}}</td>
                                    <td class="text-center p-10">{{equipo.solicitudDebePago!=null?equipo.solicitudDebePago.icodigosolicitud:"No asignago"}}</td>
                                    <td class="text-center">
                                        <i class="mdi mdi-pencil" (click)="actualizarequipo(equipo)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                    </td>
                                    <td class="text-center">
                                        <i class="mdi mdi-delete" (click)="eliminarequipo(equipo)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                    </td>
                                </tr>
                                <tr *ngIf="equipo.expanded" style="font-size: 12px">
                                    <td colspan="8">
                                        <div class="form-row col-12" style="margin: 0 auto;">
                                            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                                                <thead style="background: #ebeff5;">
                                                    <tr>
                                                        <th class="text-center">Tipo</th>
                                                        <th class="text-center">Codigo</th>
                                                        <th class="text-center">Descripcion</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr style="font-size: 12px">
                                                        <td class="text-center">solicitud haber provision</td>
                                                        <td class="text-center">{{equipo.solicitudHaberProvision!=null?equipo.solicitudHaberProvision.icodigosolicitud:"No asignago"}}</td>
                                                        <td class="text-center">{{equipo.solicitudHaberProvision!=null?equipo.solicitudHaberProvision.sdescripcion:"No asignago"}}</td>
                                                    </tr>
                                                    <tr style="font-size: 12px">
                                                        <td class="text-center">solicitud debe provision</td>
                                                        <td class="text-center">{{equipo.solicitudDebeProvision!=null?equipo.solicitudDebeProvision.icodigosolicitud:"No asignago"}}</td>
                                                        <td class="text-center">{{equipo.solicitudDebeProvision!=null?equipo.solicitudDebeProvision.sdescripcion:"No asignago"}}</td>
                                                    </tr>
                                                    <tr style="font-size: 12px">
                                                        <td class="text-center">solicitud haber pago</td>
                                                        <td class="text-center">{{equipo.solicitudHaberPago!=null?equipo.solicitudHaberPago.icodigosolicitud:"No asignago"}}</td>
                                                        <td class="text-center">{{equipo.solicitudHaberPago!=null?equipo.solicitudHaberPago.sdescripcion:"No asignago"}}</td>
                                                    </tr>
                                                    <tr style="font-size: 12px">
                                                        <td class="text-center">solicitud debe pago</td>
                                                        <td class="text-center">{{equipo.solicitudDebePago!=null?equipo.solicitudDebePago.icodigosolicitud:"No asignago"}}</td>
                                                        <td class="text-center">{{equipo.solicitudDebePago!=null?equipo.solicitudDebePago.sdescripcion:"No asignago"}}</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div> -->
            </div>
            <div class="tab-pane fade show active" id="nav-solicitud" role="tabpanel" aria-labelledby="nav-solicitud-tab">
                <div class="col-12">
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ninguna Solicitud registrada por el Supervisor
                        </div>
                    </div>
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsSolicitudxSupervisor" style="width: 100%;">
                            <ng-container matColumnDef="puesto">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Puesto</th>
                                <td mat-cell *matCellDef="let element">{{element.puesto.snombre}}</td>
                            </ng-container>

                            <ng-container matColumnDef="solicitante">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Solicitante</th>
                                <td mat-cell *matCellDef="let element">{{element.usuario.trabajador==null? element.usuario.perfil.nombres : element.usuario.trabajador.apePater + ' ' + element.usuario.trabajador.apeMater + ' ' + element.usuario.trabajador.nombres}}</td>
                            </ng-container>

                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;">Fecha</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.tfechaInicio | date:'dd/MM/yyyy'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Estado</th>
                                <td mat-cell *matCellDef="let element">
                                    <label *ngIf="element.iestado==-1" style="margin-bottom: 0px;">Rechazado</label>
                                    <label *ngIf="element.iestado==0" style="margin-bottom: 0px;">Cancelado</label>
                                    <label *ngIf="element.iestado==1" style="margin-bottom: 0px;">Solicitado</label>
                                    <label *ngIf="element.iestado==2" style="margin-bottom: 0px;">En Revisión</label>
                                    <label *ngIf="element.iestado==3" style="margin-bottom: 0px;">Aprobada</label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ver">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Ver</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-eye mostrarSolic color-page-i" (click)="visualizarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="cancelar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Cancelar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-close-circle color-page-i" (click)="cancelarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revision">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Revisar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-pencil-box-outline color-page-i" (click)="revisionSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="aprobar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Aprobar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-check-circle color-page-i" (click)="aprobarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rechazar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Rechazar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-block-helper color-page-i" (click)="rechazarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <!-- <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th>Puesto</th>
                                    <th>Solicitante</th>
                                    <th class="text-center">Fecha</th>
                                    <th class="text-center">Estado</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 12px" *ngFor="let sol of lsSolicitudxSupervisor">
                                    <td>{{sol.puesto.snombre}}</td>
                                    <td>{{sol.usuario.trabajador==null? sol.usuario.perfil.nombres : sol.usuario.trabajador.apePater + ' ' + sol.usuario.trabajador.apeMater + ' ' + sol.usuario.trabajador.nombres }}</td>
                                    <td class="text-center">{{sol.tfechaInicio | date:'dd/MM/yyyy'}}</td>
                                    <td class="text-center" *ngIf="sol.iestado==-1">Rechazado</td>
                                    <td class="text-center" *ngIf="sol.iestado==0">Cancelado</td>
                                    <td class="text-center" *ngIf="sol.iestado==1">Solicitado</td>
                                    <td class="text-center" *ngIf="sol.iestado==2">En Revisión</td>
                                    <td class="text-center" *ngIf="sol.iestado==3">Aprobada</td>
                                    <td>
                                        <i class="fa fa-eye" (click)="visualizarSolicitud(sol)" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                        <i class="fa fa-times-circle" (click)="cancelarSolicitud(sol)" style="cursor: pointer; font-size: 14px;margin-left: 10px;" placement="bottom" ngbTooltip="Cancelar"></i>
                                        <i class="fa fa-edit" (click)="revisionSolicitud(sol)" style="cursor: pointer; font-size: 14px;margin-left: 10px;" placement="bottom" ngbTooltip="En revisión"></i>
                                        <i class="fa fa-check-circle" (click)="aprobarSolicitud(sol)" style="cursor: pointer; font-size: 14px;margin-left: 10px;" placement="bottom" ngbTooltip="Aprobar"></i>
                                        <i class="fa fa-ban" (click)="rechazarSolicitud(sol)" style="cursor: pointer; font-size: 14px;margin-left: 10px;" placement="bottom" ngbTooltip="Rechazar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <nav *ngIf="token.id_perfil == 4" [hidden]="(token.id_perfil != 4 || empresa==null)">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link color-page-i" id="nav-equipo-tab" data-toggle="tab" href="#nav-equipo2" role="tab" aria-controls="nav-equipo" aria-selected="false" style="font-size: 13px; font-weight: bold;">Equipo</a>
            <a class="nav-item nav-link active color-page-i" id="nav-solicitud-tab" data-toggle="tab" href="#nav-solicitud2" role="tab" aria-controls="nav-solicitud" aria-selected="true" style="font-size: 13px; font-weight: bold;">Solicitud</a>
        </div>
    </nav>
    <div *ngIf="token.id_perfil == 4" [hidden]="(token.id_perfil != 4 || empresa==null)" class="card-body" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 30px; margin-bottom: 20px;">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-equipo2" role="tabpanel" aria-labelledby="nav-equipo-tab">
                <p>Equipo</p>
                <div class="col-12">
                    <div>
                        <button class="btn btn-sm btn-info" (click)="crearEquipo()" style="width: auto; border-radius: 28px; padding: 4px 10px;">Crear Equipo</button>
                    </div>
                    <br>

                    <div *ngIf="token.id_perfil == 4" [hidden]="lsEquipoxSupervisorFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ningún Equipo registrado por el Supervisor
                        </div>
                    </div>

                    <div [hidden]="lsEquipoxSupervisorFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsEquipoxSupervisor" style="width: 100%;">
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Descripción</th>
                                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                            </ng-container>

                            <ng-container matColumnDef="visualizar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Visualizar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-eye" (click)="visualizarEquipo(element)" *ngIf="element.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="agregar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Agregar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-plus" (click)="registrarTrabajEquip(element)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                        <!--                         <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th>Descripción</th>
                                    
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 12px" *ngFor="let equip of lsEquipoxEmpresa">
                                    <td>{{equip.descripcion}}</td>
                                
                                    <td>
                                        <i class="fa fa-eye" (click)="visualizarEquipo(equip)" *ngIf="equip.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                        <i class="fa fa-plus" (click)="registrarTrabajEquip(equip)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>

                </div>

            </div>
            <div class="tab-pane fade show active" id="nav-solicitud2" role="tabpanel" aria-labelledby="nav-solicitud-tab">
                <div class="col-12">
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ninguna Solicitud registrada por el Supervisor
                        </div>
                    </div>
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsSolicitudxSupervisor" style="width: 100%;">
                            <ng-container matColumnDef="puesto">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Puesto</th>
                                <td mat-cell *matCellDef="let element">{{element.puesto.snombre}}</td>
                            </ng-container>

                            <ng-container matColumnDef="solicitante">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Solicitante</th>
                                <td mat-cell *matCellDef="let element">{{element.usuario.trabajador==null? element.usuario.perfil.nombres : element.usuario.trabajador.apePater + ' ' + element.usuario.trabajador.apeMater + ' ' + element.usuario.trabajador.nombres}}</td>
                            </ng-container>

                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;">Fecha</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.tfechaInicio | date:'dd/MM/yyyy'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Estado</th>
                                <td mat-cell *matCellDef="let element">
                                    <label *ngIf="element.iestado==-1" style="margin-bottom: 0px;">Rechazado</label>
                                    <label *ngIf="element.iestado==0" style="margin-bottom: 0px;">Cancelado</label>
                                    <label *ngIf="element.iestado==1" style="margin-bottom: 0px;">Solicitado</label>
                                    <label *ngIf="element.iestado==2" style="margin-bottom: 0px;">En Revisión</label>
                                    <label *ngIf="element.iestado==3" style="margin-bottom: 0px;">Aprobada</label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ver">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Ver</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-eye mostrarSolic color-page-i" (click)="visualizarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="cancelar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Cancelar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-close-circle color-page-i" (click)="cancelarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revision">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Revisar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-pencil-box-outline color-page-i" (click)="revisionSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="aprobar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Aprobar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-check-circle color-page-i" (click)="aprobarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rechazar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Rechazar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-block-helper color-page-i" (click)="rechazarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <nav *ngIf="token.id_perfil == 5" [hidden]="(token.id_perfil != 5 || empresa==null)">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link color-page-i" id="nav-equipo-tab" data-toggle="tab" href="#nav-equipo3" role="tab" aria-controls="nav-equipo" aria-selected="false" style="font-size: 13px; font-weight: bold;">Equipo</a>
            <a class="nav-item nav-link active color-page-i" id="nav-solicitud-tab" data-toggle="tab" href="#nav-solicitud3" role="tab" aria-controls="nav-solicitud" aria-selected="true" style="font-size: 13px; font-weight: bold;">Solicitud</a>
        </div>
    </nav>
    <div *ngIf="token.id_perfil == 5" [hidden]="(token.id_perfil != 5 || empresa==null)" class="card-body" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 30px; margin-bottom: 20px;">
        <div class="tab-content" id="nav-tabContent">
            <div class="tab-pane fade" id="nav-equipo3" role="tabpanel" aria-labelledby="nav-equipo-tab">
                <p>Equipo</p>
                <div class="col-12">
                    <div>
                        <button class="btn btn-sm btn-info" (click)="crearEquipo()" style="width: auto; border-radius: 28px; padding: 4px 10px;">Crear Equipo</button>
                    </div>
                    <br>

                    <div *ngIf="token.id_perfil == 4" [hidden]="lsEquipoxGerenteFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ningún Equipo registrado por el Supervisor
                        </div>
                    </div>

                    <div [hidden]="lsEquipoxGerenteFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsEquipoxGerente" style="width: 100%;">
                            <ng-container matColumnDef="descripcion">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Descripción</th>
                                <td mat-cell *matCellDef="let element">{{element.descripcion}}</td>
                            </ng-container>

                            <ng-container matColumnDef="visualizar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Visualizar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-eye" (click)="visualizarEquipo(element)" *ngIf="element.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="agregar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Agregar</th>
                                <td mat-cell *matCellDef="let element">
                                    <i class="fa fa-plus" (click)="registrarTrabajEquip(element)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="displayedColumns2" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
                        </table>
                        <!--                         <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                            <thead style="background: #ebeff5;">
                                <tr>
                                    <th>Descripción</th>
                                    
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="font-size: 12px" *ngFor="let equip of lsEquipoxEmpresa">
                                    <td>{{equip.descripcion}}</td>
                                
                                    <td>
                                        <i class="fa fa-eye" (click)="visualizarEquipo(equip)" *ngIf="equip.lsEquipoTrabajador.length > 0" style="cursor: pointer; font-size: 14px;" placement="bottom" ngbTooltip="Visualizar"></i>
                                        <i class="fa fa-plus" (click)="registrarTrabajEquip(equip)" aria-hidden="true" style="cursor: pointer; font-size: 14px; margin-left: 10px;" placement="bottom" ngbTooltip="Agregar"></i>
                                    </td>
                                </tr>
                            </tbody>
                        </table> -->
                    </div>

                </div>

            </div>
            <div class="tab-pane fade show active" id="nav-solicitud3" role="tabpanel" aria-labelledby="nav-solicitud-tab">
                <div class="col-12">
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length > 0">
                        <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                            No hay ninguna Solicitud registrada por el Supervisor
                        </div>
                    </div>
                    <div [hidden]="lsSolicitudxSupervisorFilter?.length == 0" class="table-responsive">
                        <table mat-table [dataSource]="lsSolicitudxSupervisor" style="width: 100%;">
                            <ng-container matColumnDef="puesto">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Puesto</th>
                                <td mat-cell *matCellDef="let element">{{element.puesto.snombre}}</td>
                            </ng-container>

                            <ng-container matColumnDef="solicitante">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Solicitante</th>
                                <td mat-cell *matCellDef="let element">{{element.usuario.trabajador==null? element.usuario.perfil.nombres : element.usuario.trabajador.apePater + ' ' + element.usuario.trabajador.apeMater + ' ' + element.usuario.trabajador.nombres}}</td>
                            </ng-container>

                            <ng-container matColumnDef="fecha">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;">Fecha</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.tfechaInicio | date:'dd/MM/yyyy'}}</td>
                            </ng-container>

                            <ng-container matColumnDef="estado">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;">Estado</th>
                                <td mat-cell *matCellDef="let element">
                                    <label *ngIf="element.iestado==-1" style="margin-bottom: 0px;">Rechazado</label>
                                    <label *ngIf="element.iestado==0" style="margin-bottom: 0px;">Cancelado</label>
                                    <label *ngIf="element.iestado==1" style="margin-bottom: 0px;">Solicitado</label>
                                    <label *ngIf="element.iestado==2" style="margin-bottom: 0px;">En Revisión</label>
                                    <label *ngIf="element.iestado==3" style="margin-bottom: 0px;">Aprobada</label>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="ver">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Ver</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-eye mostrarSolic color-page-i" (click)="visualizarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="cancelar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Cancelar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-close-circle color-page-i" (click)="cancelarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="revision">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Revisar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-pencil-box-outline color-page-i" (click)="revisionSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="aprobar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Aprobar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-check-circle color-page-i" (click)="aprobarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="rechazar">
                                <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff;text-align: center;">Rechazar</th>
                                <td mat-cell *matCellDef="let element" style="text-align: center;">
                                    <i class="mdi mdi-block-helper color-page-i" (click)="rechazarSolicitud(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>



</div>