<style>
    .asistencia-component {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 100%;
        width: 100%;
        padding: 30px;
        position: fixed;
    }
</style>

<header>
    <div class="navbar-collapse frost-theme" style="height: 45px; padding: 8px; background:#212F3C;">
        <div>
            <i class="mdi mdi-keyboard-backspace" aria-hidden="true" style="cursor: pointer; font-size: 28px; color: #fff;" [routerLink]="['/login']"></i>
        </div>
    </div>
</header>
<section class="asistencia-component" style="background: #117A65;">
    <div class="form-row col-12" style="background-image:url(assets/images/background/login.jpg);background-size: cover;border-radius: 15px; width: 80%;margin-left: 10%; height: 90%; box-shadow: 10px -1px 48px 5px rgba(0,0,0,0.47);">
        <div class="form-row col-12 m-5 p-10">
            <div class="card col-6" style="border-radius: 15px; border:1px solid #d6d6d6; background: transparent; margin-left: 20%;">
                <div class="card-header frost-theme" style="border-top-left-radius: 15px; border-top-right-radius: 15px; background:#117A65;">
                    <a class="text-center" style="text-decoration: none;">
                        <h1 style="color: white;">Cambiar contraseña</h1>
                    </a>
                </div>
                <div class="card-body opacar" style="background: #ffffffe3; width: 100%; box-shadow: -4px 4px 40px 13px rgba(0,0,0,0.47); border-radius: 0px 0px 15px 15px;">
                    <form #nuevoEps="ngForm" ngNativeValidate>

                        <div class="form-row col-12" style="padding: 0px 100px;">
                            <div class="col-12 mt-4 mb-3">
                                <label for="pass" style="font-size: 14px;">Nueva contraseña:</label>
                                <input class="form-control form-control-sm" type="password" id="pass" [(ngModel)]="pass1" name="#pass1" minlength="5" maxlength="50" required>
                            </div>
                            <div class="col-12 mb-3">
                                <label for="pass2" style="font-size: 14px;">Repita la contraseña:</label>
                                <input class="form-control form-control-sm" type="password" id="pass2" [(ngModel)]="pass2" name="#pass2" minlength="5" maxlength="50" required>
                            </div>
                            <div class="col-12 mb-3">
                                <button class="btn btn-info btn-lg btn-block text-uppercase" (click)="cambiarPassword()" [disabled]="nuevoEps.form.invalid" style="background: #007951; height: 40px; padding: 0 10px;" type="submit" id="guardar">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>