
<div class="modal-header">
    <h2 class="modal-title text-center">Subir Archivo</h2>
</div>

<div class="modal-body">
    <div class="form-row col-12">
        <div class="col-12 mb-2" align="center">
            <div class="form-group col-12">
                <i *ngIf="!selecArch" class="mdi mdi-file-outline" aria-hidden="true" style="font-size: 60px;"></i>
                <i *ngIf="selecArch" class="mdi mdi-file" aria-hidden="true" style="font-size: 60px;"></i>
            </div>
            <div class="form-group col-12">
                <label *ngIf="selecArch">{{nombreArchivo}}</label>
            </div>
            <div class="form-group col-12">
                <input type="file" id="subir" (change)="elegir($event)" class="form-control form-control-sm"
                accept="application/vnd.openxmlformats-officedocument.wordprocessingml.document,application/msword"
                style="position: absolute; z-index: 1; width: 53%; height: 26px; opacity: 0;">
                <button type="button" class="btn btn btn-outline-info btn-sm min " style="width: 55%; margin: 0px 10px; padding: 0px;">
                  <label style="font-weight: bold;margin: 0px;font-size: 18px;cursor: pointer; margin-left: 5px;">Escoger archivo</label>
              </button>
                <button *ngIf="selecArch" (click)="selecArch = null" type="button" class="btn btn btn-outline-red btn-sm min " style="width: 10%; margin: 0px; padding: 0px;">
                <label style="font-weight: bold;margin: 0px;font-size: 18px;cursor: pointer">X</label>
              </button>
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button (click)="close()" id="cerrar" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
    <button type="button" (click)="confirmar()" id="confirmar" class="btn btn-info btn-sm min"  style="margin: 0px 5px;">Confirmar</button>
</div>