<hr>
<div [hidden]="empresa!=null">
    <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
        Seleccione una empresa
    </div>
</div>

<nav *ngIf="empresa">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active color-page-i" id=" nav-planilla-tab" data-toggle="tab" href="#nav-planilla" role="tab " aria-controls="nav-planilla " aria-selected="true" style="font-size: 13px; font-weight: bold;">Planillas</a>
        <a class="nav-item nav-link  color-page-i" id="nav-honorario-tab" data-toggle="tab" href="#nav-honorario" role="tab" aria-controls="nav-honorario" aria-selected="false" style="font-size: 13px; font-weight: bold;">Recibos por Honorarios</a>
    </div>
</nav>


<div [hidden]="empresa==null" class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="nav-planilla" role="tabpanel" aria-labelledby="nav-planilla-tab">
        <div class="card-body" style="border-radius: 10px; padding: 0px; margin: 20px;">
            <div class="card-header row" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin: 10px 20px;">
                <div class="col-6" style="margin: 0;">
                    <mat-form-field style="width: 335px; margin-right: 90px; margin-left: 20px;">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter($event)" #input>
                    </mat-form-field>

                </div>
                <div class="col-6" style="margin-top: 15px;">
                    <button class="btn btn-sm color-page-tr" id="nuevo" (click)="generarReporteAdelantoGeneral()" style="width: auto; border-radius: 28px; padding: 4px 10px; color: #ffffff;">Reporte Adelanto General</button>
                </div>
            </div>
            <div class="col-12">
                <div [hidden]="lsTrabPlanillaFilter?.length > 0">
                    <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                        No hay registro de trabajadores
                    </div>
                </div>
                <div [hidden]="lsTrabPlanillaFilter?.length == 0" class="table-responsive" style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
                    <table mat-table [dataSource]="lsTrabPlanilla" style="width: 100%;">

                        <ng-container matColumnDef="nrodoc">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Nro. Documento </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.nroDoc}}</td>
                        </ng-container>

                        <ng-container matColumnDef="apenom">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Apellidos y Nombres </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.apePater}} {{element.trabajador.apeMater}} {{element.trabajador.nombres}}</td>
                        </ng-container>

                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Correo </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.correo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="fechnac">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Fecha Nac. </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.trabajador.fecNac | date :'dd-MM-yyyy'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="sexo">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Sexo </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.sexo=="M"?'Masculino':'Femenino'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Estado </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.situacion.descripcion}}</td>
                        </ng-container>

                        <ng-container matColumnDef="descarga">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Descarga </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-download color-page-i" (click)="generarReporteAdelantoTrabajador(element.trabajador)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ver">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Ver </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-eye color-page-i" (click)="mostrarAS(element.trabajador)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="regis">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Registrar </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-history color-page-i" (click)="registrarAs(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="solic">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Solicitar </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-send color-page-i" (click)="solicitarAs(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>

                    <mat-paginator #paginatorlsTrabajadorPlanilla [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>

    <div class="tab-pane fade" id="nav-honorario" role="tabpanel" aria-labelledby="nav-honorario-tab">


        <div class="card-body" style="border-radius: 10px; padding: 0px; margin: 20px;">
            <div class="card-header row" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin: 10px 20px;">
                <div class="col-6" style="margin: 0;">
                    <mat-form-field style="width: 335px; margin-right: 90px; margin-left: 20px;">
                        <mat-label>Buscar...</mat-label>
                        <input matInput (keyup)="applyFilter2($event)" #input>
                    </mat-form-field>

                </div>
                <div class="col-6" style="margin-top: 15px;">
                    <button class="btn btn-sm color-page-tr" id="nuevo" (click)="generarReporteAdelantoGeneral()" style="width: auto; border-radius: 28px; padding: 4px 10px; color: #ffffff;">Reporte Adelanto General</button>
                </div>
            </div>
            <div class="col-12">
                <div [hidden]="lsTrabHonorarioFilter?.length > 0">
                    <div style="text-align: center; font-size: 20px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                        No hay registro de trabajadores
                    </div>
                </div>
                <div [hidden]="lsTrabHonorarioFilter?.length == 0" class="table-responsive" style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
                    <table mat-table [dataSource]="lsTrabHonorario" style="width: 100%;">

                        <ng-container matColumnDef="nrodoc">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Nro. Documento </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.nroDoc}}</td>
                        </ng-container>

                        <ng-container matColumnDef="apenom">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Apellidos y Nombres </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.apePater}} {{element.trabajador.apeMater}} {{element.trabajador.nombres}}</td>
                        </ng-container>

                        <ng-container matColumnDef="correo">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Correo </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.correo}}</td>
                        </ng-container>

                        <ng-container matColumnDef="fechnac">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Fecha Nac. </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.trabajador.fecNac | date :'dd-MM-yyyy'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="sexo">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Sexo </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.sexo=="M"?'Masculino':'Femenino'}}</td>
                        </ng-container>

                        <ng-container matColumnDef="estado">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Estado </th>
                            <td mat-cell *matCellDef="let element" style="text-align: left;">{{element.trabajador.situacion.descripcion}}</td>
                        </ng-container>

                        <ng-container matColumnDef="descarga">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Descarga </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-download color-page-i" (click)="generarReporteAdelantoTrabajador(element.trabajador)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="ver">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Ver </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-eye color-page-i" (click)="mostrarAS(element.trabajador)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="regis">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Registrar </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-history color-page-i" (click)="registrarAs(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="solic">
                            <th mat-header-cell *matHeaderCellDef style="font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Solicitar </th>
                            <td mat-cell *matCellDef="let element" style="text-align: center;">
                                <i class="mdi mdi-send color-page-i" (click)="solicitarAs(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayed2Columns" class="color-page-tr"></tr>
                        <tr mat-row *matRowDef="let row; columns: displayed2Columns;"></tr>
                    </table>

                    <mat-paginator #paginatorlsTrabajadorHonorario [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>








<!-- <div [hidden]="lsTrabajadorPlanilla?.length == 0" class="table-responsive">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Nro. Documento</th>
                    <th class="text-center">Apellidos y Nombre</th>
                    <th class="text-center">Correo</th>
                    <th class="text-center">Fecha Nac.</th>
                    <th class="text-center">Sexo</th>
                    <th class="text-center">Estado</th>
                    <th class="text-center">Ver</th>
                    <th class="text-center">Solicitar</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" style="font-size: 12px" *ngFor="let cont of lsTrabajadorPlanilla | filter :filterPost :filterBoolean | paginate: { id: 'paginationAdelanto', itemsPerPage: numItem, currentPage: pA }">
                    <td>{{cont.trabajador.nroDoc}}</td>
                    <td>{{cont.trabajador.apePater}} {{cont.trabajador.apeMater}} {{cont.trabajador.nombres}}</td>
                    <td>{{cont.trabajador.correo}}</td>
                    <td>{{cont.trabajador.fecNac | date :'dd-MM-yyyy'}}</td>
                    <td>{{cont.trabajador.sexo=="M"?'Masculino':'Femenino'}}</td>
                    <td>{{cont.trabajador.situacion.descripcion}}</td>
                    <td class="text-center">
                        <i class="mdi mdi-eye" (click)="mostrarAS(cont.trabajador)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                    <td class="text-center">
                        <i class="mdi mdi-send" (click)="solicitarAs(cont)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="paginationAdelanto" (pageChange)="pA = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
    </div> -->