<form #formprestamoldo="ngForm" ngNativeValidate>

    <div class="modal-header color-page-modal">
        <h5 class="modal-title" style="color: white;">Registro préstamo</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-6 mt-2">
                <div class="col-12 mb-3">
                    <label>Fecha Estimada Abono :</label>
                    <ejs-datepicker format='dd-MM-yyyy' type="datepicker" placeholder='Elige una fecha' [(ngModel)]="prestamo.fechaAbono" name="#prestamo.fechaAbono" required> </ejs-datepicker>
                </div>
            </div>
            <!-- <div *ngIf="tipoprestamo==1" class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="varmontt">Monto :</label>
                    <input class="form-control form-control-sm" type="number" id="varmontt" name="#montoTotal" [ngModel]="montoTotal.toFixed(1)" disabled required>
                </div>
            </div> -->
            <div class="form-row col-6 mt-2">
                <div class="col-12 mb-3">
                    <label for="montt">Monto :</label>
                    <input class="form-control form-control-sm" type="number" id="montt" name="#prestamo.montoTotal" [(ngModel)]="prestamo.montoTotal" onclick="document.getElementById('nroc').value=''" required>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="nroc">Cuotas :</label>
                    <input class="form-control form-control-sm" type="number" id="nroc" name="#prestamo.nroCuotas" [(ngModel)]="prestamo.nroCuotas" (ngModelChange)="calcular($event)" required>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="pagom">Pago mensual: </label>
                    <input class="form-control form-control-sm" type="number" id="pagom" name="#pagoMensual" [ngModel]=pagoMensual.toFixed(2) disabled required>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mb-3">
                    <label for="ano">Periodo inicio descuento :</label>
                    <ng-select style="width: 100%;" [items]="lsAno" bindLabel="descripcion" id="ano" name="#ano.idPdoAno" bindValue="idPdoAno" placeholder="seleccione" [(ngModel)]="ano.idPdoAno" required></ng-select>
                </div>
            </div>
            <div class="form-row col-6">
                <div class="col-12 mt-2 mb-3">
                    <label for id="mes"> </label>
                    <ng-select style="width: 100%;" [items]="lsMeses" bindLabel="descripcion" id="mes" name="#mes.idPdoMes" bindValue="idPdoMes" placeholder="seleccione" [(ngModel)]="mes.idPdoMes" required></ng-select>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-warning btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button *ngIf="!impedirSol" [disabled]="formprestamoldo.form.invalid" (click)="setearDatos()" type="button" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>