<div class="modal-header">
    <h5 class="modal-title" style="margin-left: 6px;">Lista de Trabajadores en el Equipo</h5>
</div>
<br>

<div class="tab-content" id="nav-tabContent">
    <div class="col-12">        
        <div  class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                <thead style="background: #ebeff5;" >
                    <tr>
                        <th class="text-left">Número Documento</th>
                        <th class="text-left">Apellidos y Nombre</th>                                
                        <th class="text-left">Teléfono</th>
                        <th class="text-center">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 12px" *ngFor=" let eqTrab of equipo.lsEquipoTrabajador" > <!-- *ngFor=" let pos of reclutamiento.lsPostulanteReclu" -->
                        <td class="text-left">{{eqTrab.trabajador.nroDoc}}</td>
                        <td class="text-left">{{eqTrab.trabajador.apePater}} {{eqTrab.trabajador.apeMater}} {{eqTrab.trabajador.nombres}}</td>
                        <td class="text-left">{{eqTrab.trabajador.nroCel}}</td>                        
                        <td class="text-center">                                      
                            <i class="fa fa-minus-circle" (click)="eliminarTrabajadorEquipo(eqTrab)" aria-hidden="true" style="cursor: pointer; font-size: 15px;">
                            </i>
                        </td>                        
                    </tr>
                </tbody>            
            </table>
        </div>
    </div>
</div>

<div class=" modal-footer ">    
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cerrar</button>
</div>