<form #nuevoPermiso="ngForm" ngNativeValidate>
    <div class="modal-header">
        <h2 class="modal-title text-center">{{input_permiso==null?'Registrar':'Actualizar'}} Permiso</h2>
    </div>
    <!-- <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-general-horario" data-toggle="tab" href="#nav-general" role="tab" aria-controls="nav-general" aria-selected="true">Dia</a>
            <a class="nav-item nav-link" id="nav-horario-doc" data-toggle="tab" href="#nav-doc" role="tab" aria-controls="nav-doc" aria-selected="false">Documentacion</a>
        </div>
    </nav> -->
    <div class="modal-body">
        <!-- <div class="tab-content" id="nav-tabContent"> -->
        <!-- <div class="tab-pane fade show active" id="nav-general" role="tabpanel" aria-labelledby="nav-general-horario"> -->
        <div class="col-12 mr-3" style="border:1px solid #d6d6d6; border-radius:15px; padding:10px 10px;">
            <div class="form-row col-12" style="padding-top: 10px;">
                <div class="col-12 mb-3">
                    <label for="datepicker">Inicio del dia de permiso</label>
                    <ejs-datepicker [disabled]='input_permiso!=null' format='yyyy/MM/dd' type="datepicker" id='datepicker' placeholder='Elige una fecha' [(ngModel)]="permiso.fechaIni" [strictMode]='true' [min]='minDate' [max]='maxDate' name="#permiso.fechaIni" required>
                    </ejs-datepicker>
                </div>
            </div>
            <div class="form-row col-12" style="padding-top: 10px;">
                <div class="col-12 mb-3">
                    <label for="tip">Tipo de Permiso</label>
                    <ng-select [items]="lsTipoPermiso" bindLabel="descripcion" bindValue="idTipoPermiso" id="tip" [(ngModel)]="idTipoPermiso" name="#idTipoPermiso" style="width: 100%; margin-right: 10px;" required>
                    </ng-select>

                </div>
            </div>
            <div class="form-row col-12">
                <div class="col-12 mb-2" align="center">
                    <div class="form-group col-12">
                        <i *ngIf="!selecArch" class="mdi mdi-file-outline" aria-hidden="true" style="font-size: 60px;"></i>
                        <i *ngIf="selecArch" class="mdi mdi-file" aria-hidden="true" style="font-size: 60px;"></i>
                    </div>
                    <div class="form-group col-12">
                        <label *ngIf="selecArch">{{nombreArchivo}}</label>
                    </div>
                    <div class="form-group col-12">
                        <input type="file" id="subir" (change)="subirArchivo($event)" class="form-control form-control-sm" style="position: absolute; z-index: 1; width: 53%; height: 26px; opacity: 0;">
                        <button type="button" class="btn btn btn-outline-info btn-sm min " style="width: 55%; margin: 0px 10px; padding: 0px;">
                            <label style="font-weight: bold;margin: 0px;font-size: 18px;cursor: pointer; margin-left: 5px;">Escoger archivo</label>
                        </button>
                        <button *ngIf="selecArch" (click)="selecArch = null" type="button" class="btn btn btn-outline-red btn-sm min " style="width: 10%; margin: 0px; padding: 0px;">
                          <label style="font-weight: bold;margin: 0px;font-size: 18px;cursor: pointer">X</label>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" id="cerrar" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button type="button" (click)="crud()" id="confirmar" class="btn btn-info btn-sm min" [disabled]="nuevoPermiso.form.invalid" style="margin: 0px 5px;">{{input_permiso==null?'Registrar':'Actualizar'}}</button>
    </div>
</form>
