<form #nuevoHorario="ngForm" ngNativeValidate>
    <div class="modal-header color-page-modal">
        <h2 class="modal-title text-center" style="color: white;">{{input_horario_final==null?"Nueva":"Actualizar"}} Cronograma</h2>
    </div>

    <div class="modal-body">
        <div class="tab-content" id="nav-tabContent">
            <div class="col-12 mr-3" style="border:1px solid #d6d6d6; border-radius:15px; padding:10px 10px;">
                <div class="form-row col-12" style="padding-top: 10px;">
                    <div class="col-4 mb-3">
                        <label for="estad">Area:</label>
                        <ng-select [items]="lsEstado" bindLabel="descripcion" bindValue="valor" id="estad" [(ngModel)]="horario.estado" name="#estado" style="width: 100%; margin-right: 10px;" required></ng-select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="estad">Estado:</label>
                        <ng-select [items]="lsEstado" bindLabel="descripcion" bindValue="valor" id="estad" [(ngModel)]="horario.estado" name="#estado" style="width: 100%; margin-right: 10px;" required></ng-select>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="estad">Estado:</label>
                        <ng-select [items]="lsEstado" bindLabel="descripcion" bindValue="valor" id="estad" [(ngModel)]="horario.estado" name="#estado" style="width: 100%; margin-right: 10px;" required></ng-select>
                    </div>
                </div>
                <div class="form-row col-12" style="padding-top: 10px;">
                    <div class="col-12 mb-6">
                        <label for="asunt">Asunto</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="comentario" rows="3" style="margin-left: -15px; width: 575px; height: 10px;" name=#postulante.comentarios></textarea>
                        </div>

                    </div>

                </div>

                <div class="form-row col-12" style="padding-top: 10px;">

                    <div class="col-4 mb-3">
                        <label>Fecha Programación</label>
                        <ejs-datepicker [max]="mayorEdad" format='dd-MM-yyyy' type="datepicker" placeholder='Elige una fecha' name="#trabajador.fecNac" required> </ejs-datepicker>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="iniDia">Hora Inicio:</label>
                        <ejs-timepicker placeholder="00:00 AM/PM" id="iniDia" name="#horario.horIniDia" [(ngModel)]="horario.horIniDia" required></ejs-timepicker>
                    </div>
                    <div class="col-4 mb-3">
                        <label for="finDia">Horario Fin:</label>
                        <ejs-timepicker placeholder="00:00 AM/PM" id="finDia" name="#horario.horFinDia" [(ngModel)]="horario.horFinDia" required></ejs-timepicker>
                    </div>

                </div>



                <div class="form-row col-12" style="padding-top: 20px;">
                    <div class="col-12 mb-6">
                        <label for="desc">Descripción</label>
                        <div class="col-sm-12">
                            <textarea class="form-control" id="comentario" rows="12" style="height: 150px; width: 860px; margin-left: -15px;" name=#postulante.comentarios></textarea>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <div class="modal-footer">
        <button (click)="close()" id="cerrar" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button type="button" id="confirmar" class="btn btn-info btn-sm min" [disabled]="nuevoHorario.form.invalid || deshabilitar" (click)="confirmarNuevoHorario()" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>