<hr>
<div [hidden]="empresa.idEmpresa!=null">
    <div style="text-align: center; font-size: 22px; margin: 0px 20px ;padding:15px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
        Seleccione una empresa
    </div>
</div>
<!-- <div [hidden]="empresa.idEmpresa==null" class="col-12"> -->

<div [hidden]="empresa.idEmpresa==null" class="card-body" style="border-radius: 10px; padding: 0px 30px; margin-bottom: 20px">
    <div class="card-header row" style="border:1px solid #d6d6d6; border-radius: 10px; padding: 10px; margin: 10px 20px;">

        <div class="col-6" style="margin: 0;">
            <mat-form-field style="width: 335px; margin-right: 90px; margin-left: 20px;">
                <mat-label>Buscar :</mat-label>
                <input matInput (keyup)="applyFilter($event)" #input>
            </mat-form-field>
        </div>

    </div>





    <div class="col-12">
        <div class="table-responsive" style="opacity: 0.9; border-radius: 15px; box-shadow: 2px 1px 26px 0px rgba(0,0,0,0.35);">
            <table mat-table [dataSource]="lsParametros" style="width: 100%;">

                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef style=" font-weight: normal; font-size: 12px; color: #ffffff; text-align: left;"> Descripción</th>
                    <td mat-cell *matCellDef="let element" style="text-align: left;"> {{element.descripcion}} </td>
                </ng-container>

                <ng-container matColumnDef="parametro">
                    <th mat-header-cell *matHeaderCellDef style=" font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;">Valor Parámetro </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">{{element.codigo=="TIPTARD" ? element.valor=="1"? "Cantidad de días":"Rango minutos" : element.codigo=="TIPORANGO"? element.valor=="1"? "Minutos exactos":"Rango completo" :element.valor}} </td>
                </ng-container>

                <ng-container matColumnDef="editar">
                    <th mat-header-cell *matHeaderCellDef style=" font-weight: normal; font-size: 12px; color: #ffffff; text-align: center;"> Actualizar </th>
                    <td mat-cell *matCellDef="let element" style="text-align: center;">
                        <i class="mdi mdi-pencil color-page-i" (click)="actualizarCategoria(element)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="color-page-tr"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            <!-- <mat-paginator #pag1 [pageSize]="itemsPerPage" [pageSizeOptions]="[5, 10, 25]" [length]="total_registros" showFirstLastButtons></mat-paginator> -->
        </div>
    </div>
</div>


<!-- <div class="table-responsive">
        <table class="table table-bordered" style="border: 1px solid #dbdde0;">
            <thead style="background: #ebeff5;">
                <tr>
                    <th class="text-center">Nombre Parametro</th>
                    <th class="text-center">Valor Parametro</th>
                    <th class="text-center">Actualizar</th>
                </tr>
            </thead>
            <tbody>
                <tr style="font-size: 12px" *ngFor="let par of lsParametros | paginate: { id: 'paginationParametros', itemsPerPage: numItem, currentPage: pA }">
                    <td>{{par.descripcion}}</td>
                    <td>{{par.codigo=="TIPTARD" ? par.valor=="1"? "Cantidad de días":"Rango minutos" : par.codigo=="TIPORANGO"? par.valor=="1"? "Minutos exactos":"Rango completo" :par.valor}}</td>
                    <td class="text-center">
                        <i class="mdi mdi-pencil" (click)="actualizarCategoria(par)" aria-hidden="true" style="cursor: pointer; font-size: 25px;"></i>
                    </td>
                </tr>
            </tbody>
        </table>
        <pagination-controls id="paginationParametros" (pageChange)="pA = $event" autoHide="true" previousLabel="" nextLabel=""></pagination-controls>
    </div> -->