<form #recPasForm="ngForm" ngNativeValidate>
    <div class="modal-header" style="background: #117A65;">
        <h5 class="modal-title" style="color: white;">Recuperar contraseña</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-row col-12">
                <div class="col-12 mb-3 mt-3">
                    <p style="font-size: 14px; text-align: center; ">
                        Ingrese su email y le enviaremos un link para recuperar su contraseña</p>
                </div>
            </div>
            <div class="form-row col-12">
                <div class="col-12 mb-3">
                    <label for="email">Correo:</label>
                    <input class="form-control form-control-sm" type="email" id="email" [(ngModel)]="email" name="#eps.descripcion" maxlength="70" email required>
                </div>
            </div>
        </div>
    </div>
    <div class=" modal-footer ">
        <button (click)="close()" type="button" class="btn btn-warning btn-sm min" style="margin: 0px 5px;">Cancelar</button>
        <button (click)="recuperarPassword()" type="button" [disabled]="recPasForm.form.invalid" class="btn btn-info btn-sm min" style="margin: 0px 5px;">Continuar</button>
    </div>
</form>