<div class="modal-header">
    <h5 class="modal-title">Detalle de puestos postulados</h5>
</div>
<br>
<div class="tab-content" id="nav-tabContent">
    <div class="col-12">
        <div [hidden]="lsPostulaciones?.length > 0">
            <div style="text-align:center; font-size:15px; margin-bottom:10px; padding:10px 0px; border-radius: 20px ;border-style: dotted; color: gray;">
                No cuenta con otras postulaciones
            </div>
        </div>         
        <div [hidden]="lsPostulaciones?.length == 0"  class="table-responsive">
            <table class="table table-bordered" style="border: 1px solid #dbdde0;">
                <thead style="background: #ebeff5;" >
                    <tr class="color-page-tr" style="font-weight: normal; font-size: 12px; color: #ffffff;">
                        <th class="text-left">Puesto</th>
                        <th class="text-left">Fecha de Inscripción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="font-size: 12px; color:black;" *ngFor="let detPos of lsPostulaciones">
                        <td class="text-left">{{detPos.solicitud.puesto.snombre}}</td>
                        <td class="text-left">{{detPos.fechaPosReclu |  date:'dd/MM/yyyy'}}</td>
                    </tr>
                </tbody>            
            </table>
        </div>
    </div>
</div>

<div class=" modal-footer ">
    <button (click)="close()" type="button" class="btn btn-danger btn-sm min" style="margin: 0px 5px;">cerrar</button>
</div>

